<div class="login-container">
  <h2>התחברות</h2>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <label for="userName">שם משתמש</label>
    <input
      type="text"
      id="userName"
      [(ngModel)]="userName"
      name="userName"
      required
    />

    <label for="password">סיסמה</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <button type="submit" [disabled]="form.invalid">התחבר</button>
  </form>
</div>
