<h2 class="title">User List</h2>

<div class="card-container">
  <div *ngFor="let user of users" class="user-card">
    <h3>{{ user.userName }}</h3>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Role:</strong> {{ user.isAdmin ? 'Admin' : 'Regular User' }}</p>

    <div class="card-actions">
      <button (click)="openEdit(user)" class="edit-button">Edit</button>
    </div>
  </div>
</div>





<div *ngIf="selectedUser" class="modal-overlay">
  <div class="modal-content">
    <h3>Edit User</h3>
    <label>Username:</label>
    <input [(ngModel)]="selectedUser.userName" />
    <label>Email:</label>
    <input [(ngModel)]="selectedUser.email" type="email" />
    <label>Phone:</label>
    <input [(ngModel)]="selectedUser.phone" />
    <label class="checkbox-label">
      <input type="checkbox" [(ngModel)]="selectedUser.isAdmin" />
      Admin
    </label>

    <div class="modal-actions">
      <button (click)="confirmEdit()" class="confirm-button">Confirm</button>
      <button (click)="cancelEdit()" class="cancel-button">Cancel</button>
      <button (click)="deleteUser()" class="delete-button">Delete</button>
    </div>
  </div>
</div>
